#binaries

#cmake
/cmbuild/
/test/C#/.vs
/test/C#/polyv-player-demo-csharp/bin
/test/C#/polyv-player-demo-csharp/obj
/bin/
/bins/
/include/
/includes/
/additional_install_files/
/build/
/build32/
/build64/
/release/
/release32/
/release64/
/debug/
/debug32/
/debug64/
/builds/
*.o.d
*.ninja
.ninja*
.dirstamp

#xcode
*.xcodeproj/

#other stuff (windows stuff, qt moc stuff, etc)
Release_MD/
Release/
Debug/
ipch/
GeneratedFiles/
.moc/
.vscode

/other/

#make stuff
configure
depcomp
install-sh
Makefile.in
Makefile

#random useless file stuff
.vs
*.dmg
*.app
.DS_Store
.directory
.hg
.depend
tags
*.trace
*.vsp
*.psess
*.swp
*.dat
*.clbin
*.log
*.tlog
*.sdf
*.opensdf
*.xml
*.ipch
*.css
*.xslt
*.aps
*.suo
*.ncb
*.user
*.lo
*.ilk
*.la
*.o
*.obj
*.pdb
*.res
*.manifest
*.dep
*.zip
*.lnk
*.chm
*.exp
*~
.DS_Store
*/.DS_Store
*/**/.DS_Store
